*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f5f9;
    color: #282d4d;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.containerPadre{
    max-width: 650px;
    margin: auto;
    background-color: #ffffff;
    padding: 40px;
    margin-top: 50px;
    border-radius: 20px;
}

.containerTitulo{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

.linea{
    border: none;
    height: 1px;
    background-color: #ababab;
    margin-top: 10px;
}

.usuario{
    border: #282d4d;
}

.InicioSesion{
    text-decoration: none;
    font-size: 10px;
    color: #f57a47;
}

input, select, textarea {
    border: 1px solid #493c2b24;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    transition: all 0.3s ease;
}

.mensaje textarea{
    outline: none;
}

textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
}

.menuDesplegable select{
    width: 100%;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

input:hover, select:hover, textarea:hover {
    border: 1px solid #ababab; 
}

.containerPerfil{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    gap: 20px;
}

.usuario img{
    border: 2px solid #282d4d;
    border-radius: 100px;
    padding: 3px;
}

.icono{
    background-color: #282d4d;
    padding: 10px;
    color: #ffffff;
    border-radius: 100px;
}

.containerNombre{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    gap: 10px;
}

.containerCorreo{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    gap: 10px;
}

.containerContraseña{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    padding: 10px 0;
}

.contraseña{
    width: 50%;
}

.menuDesplegable{
    width: 50%;
}

.containerMensaje{
    width: 100%;
    padding: 10px 0
}

.containerBoton{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;;
}

.terminosYCondiciones{
    font-size: 10px;
    color: #282d4d;
}

.botonRegistro{
    background-color: #f57a47;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: .3s;
}

.botonRegistro:hover{
    color: #ffffff;
    background-color: #ecf007;
    border-radius: 10px;
}

@media screen and (max-width: 992px) {
    .containerNombre, .containerCorreo{
        flex-direction: column;
    }
    .nombre, .primerApellido, .segundoApellido, .correo, .Identificacion, .telefono {
        margin-bottom: 10px;
    }
}