<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Iniciativa</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/formularioIniciativas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <header>
        <div class="contenedorHeader">
            <a href="/index" class="logoContentedor">
                <img class="isotipo" src="./img/isotipo.png" alt="isotipo">
                <img class="logo" src="./img/LogoMuni.png" alt="isologotipo">
            </a>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <nav class="menuHeader opciones">
                <a class="menuEnlace" href="/paginaServicios">Servicios</a>
                <a class="menuEnlace" href="/usuarioIniciativas">Iniciativas</a>
                <a class="menuEnlace" href="/paginaNoticia2.html">Noticias</a>
                <a class="menuEnlace" href="/formularioAvisosAdministrador">Avisos</a>
                <a class="menuEnlace" href="/Denuncias">Denuncias</a>
                <a class="menuIconoEnlace" href="/editarPerfil">
                    <i class="iconoMenu fa-solid fa-user"></i>                
                </a>
                <a class="boton" href="/inicioSesion">Cerrar sesión</a>
            </nav>
        </div>
    </header>

    <div class="containerPadre">
        <div class="containerTituloImagen">
            <h3 class="tituloRegistro">Formulario Iniciativa</h3>
            <div class="icono">
                <i class="fa-solid fa-image"></i>
            </div>
        </div>

        <form action="" class="formulario" id="formulario">
            <div class="contenedorFormulario">

                <!-- Grupo -->
                <div class="formularioGrupo containerTitulo" id="grupotitulo">
                    <input type="text" class="formularioInput" name="titulo" id="titulo" placeholder="Nombre de la iniciativa">
                    <i class='bx formularioValidacion-estado'></i>
                    <p class="formularioInput-error">Debe agregar un título para la iniciativa</p>
                </div>

                <div class="formularioGrupo containernombre" id="gruponombre">
                    <input type="text" class="formularioInput" name="nombre" id="nombre" placeholder="Propuesto por:">
                    <i class='bx formularioValidacion-estado'></i>
                    <p class="formularioInput-error">Debe agregar por quién es propuesto</p>
                </div>

                <div class="formularioGrupo containerDescripcion" id="grupodescripcion">
                    <textarea rows="10" class="formularioInput" name="descripcion" id="descripcion" placeholder="Descripción"></textarea>
                    <i class='bx formularioValidacion-estado'></i>
                    <p class="formularioInput-error">Debe agregar una descripción. Máximo de 300 caracteres y sin carateres especiales como @, #, $, %, &, *</p>
                </div>
            </div>

            <div class="containerBoton">

                <div class="containerBoton">
                    <button type="submit" class="botonRegistro">Crear Iniciativa</button>
                </div>

                <div class="formularioCamposRequeridos" id="formularioCamposRequeridos">
                    <p><b>Por favor completa todos los campos</b></p>
                </div>

                <div class="formularioMensaje-exito" id="formularioMensaje-exito">
                    <p><b>¡Tu iniciativa se ha creado con éxito!</b></p>
                </div>
            </div>
        </form>
    </div>


    <footer>
        <div class="contenedorFooter">
            <div class="primeraColumnaFooter">
                <img class="footerLogo" src="./img/LogoMuniBlanco.png" width="158px" alt="logo municipales">
            </div>
            <div class="footerColumna">
                <a href="/paginaServicios">Servicios</a>
                <a href="/usuarioIniciativas">Iniciativas</a>
                <a href="/paginaNoticia2">Noticias</a>
                <a href="/formularioAvisosAdministrador">Avisos</a>
                <a href="/Denuncias">Denuncias</a>
            </div>
            <div class="footerColumna redesColumna">
                <a href="https://www.instagram.com/gobmontesdeoca/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/gobmontesdeoca/"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://twitter.com/GobMontesDeOca"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCux4pfOGXArPst7ZyDjxpog"><i class="fa-brands fa-square-youtube fa-bounce"></i></a>
            </div>
        </div>
        <div class="copyRight">
            <p>Todos los derechos reservados Municipalidad de Montes de Oca</p>
        </div>
    </footer>

    <script src="js/formularioIniciativas.js"></script>
</body>

</html>