<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="noticias.css">
    <link rel="stylesheet" href="headerFooter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/usuarioIniciativas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <title>Control v</title>
</head>
<body>
    <header>
        <div class="contenedorHeader">
            <a href="/index" class="logoContentedor">
                <img class="isotipo" src="./img/isotipo.png" alt="isotipo">
                <img class="logo" src="./img/LogoMuni.png" alt="isologotipo">
            </a>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <nav class="menuHeader opciones">
                <a class="menuEnlace" href="/paginaServicios">Servicios</a>
                <a class="menuEnlace" href="/usuarioIniciativas">Iniciativas</a>
                <a class="menuEnlace" href="#">Noticias</a>
                <a class="menuEnlace" href="#">Avisos</a>
                <a class="menuEnlace" href="#">Denuncias</a>
                <a class="menuIconoEnlace" href="/editarPerfil">
                    <i class="iconoMenu fa-solid fa-user"></i>                
                </a>
                <a class="boton" href="/inicioSesion">Cerrar sesión</a>
            </nav>
        </div>
    </header>


    <div class="titulo">
        <h1> Control Vial de Montes de Oca</h1>
    </div>

    <div class="containerInfo">
        <div class="container1">
            <h3 class="subTitulo">Refuerzo en el Control Vial de Montes de Oca</h3><br>
            <p>La Municipalidad de Montes de Oca, en colaboración con la Policía de Tránsito, ha reforzado el control 
                vial en diversas zonas del cantón para mejorar la seguridad y el flujo vehicular. A partir de este mes,
                se realizarán inspecciones más frecuentes en puntos clave para asegurar que los conductores respeten las
                normas de tránsito, como el límite de velocidad, las señales de pare y los estacionamientos permitidos.
                Se recuerda a los conductores que el cumplimiento de las leyes de tránsito no solo mejora la seguridad en
                las calles, sino que también contribuye a la armonía y el bienestar de toda la comunidad.
                </p>
        </div>

        <div class="imagen">
            <img src="./img/controlVial.jpg" alt="comunidad">
        </div>
    </div>

    <div class="container2">
        <h3 class="subTitulo"> </h3><br>
        <p> Respetar las reglas de tránsito es fundamental para proteger a todos los que compartimos las vías.
             Conducí con responsabilidad, y juntos haremos de Montes de Oca un lugar más seguro. </p>
    </div>




    <footer>
        <div class="contenedorFooter">
            <div class="primeraColumnaFooter">
                <img class="footerLogo" src="./img/LogoMuniBlanco.png" width="158px" alt="logo municipales">
            </div>
            <div class="footerColumna">
                <a href="/paginaServicios">Servicios</a>
                <a href="/usuarioIniciativas">Iniciativas</a>
                <a href="">Noticias</a>
                <a href="">Avisos</a>
                <a href="">Denuncias</a>
            </div>
            <div class="footerColumna redesColumna">
                <a href="https://www.instagram.com/gobmontesdeoca/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.facebook.com/gobmontesdeoca/"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://twitter.com/GobMontesDeOca"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCux4pfOGXArPst7ZyDjxpog"><i class="fa-brands fa-square-youtube fa-bounce"></i></a>
            </div>
        </div>
        <div class="copyRight">
            <p>Todos los derechos reservados Municipalidad de Montes de Oca</p>
        </div>
    </footer>
    
</body>
</html>
