<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/loginPracticaClase.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <title>Bienvenido a mi Formulario</title>
</head>

<body>
    <div class="container-form sign-up">
        
            <div class="welcome-back">
                <div class="message">
                    <h2>Welcome</h2>
                    <p>If you already have a user, enter here</p>
                    <button class="sign-up-btn">Login</button>
                </div>
            </div>
        
        <form class="formulario" action="/register" method="post">
            <h2 class="create-account">Create account</h2>
            
            
            <input type="text" placeholder="Name" id="name" name="name">
            <input type="email" placeholder="Email" id="email" name="email">
            <input type="password" placeholder="Password" id="password" name="password">
            <div class="iconos">
                <div class="border-icon">
                    <i class='bx bxl-gmail'></i>
                </div>
                
                <div class="border-icon">
                    <i class='bx bxl-facebook-circle' ></i>
                </div>
            </div> 
            <div class="button"><input type="submit" value="CheckIn"></div>
        </form>
    </div>
    <div class="container-form sign-in">
        <form  class="formulario" action="/authenticate" method="post">
            <h2 class="create-account">Login</h2>
            
            <p class="cuenta-gratis">Enter your email and password to log in</p>
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="password" id="password" name="password" placeholder="Password">
            <div class="iconos">
                <div class="border-icon">
                    <i class='bx bxl-gmail'></i>
                </div>
                
                <div class="border-icon">
                    <i class='bx bxl-facebook-circle' ></i>
                </div>
            </div>
        <div class="button"><input type="submit" value="Login"></div>
        </form>
        <div class="welcome-back">
            <div class="message">
                <h2>welcome back</h2>
                <p>If you do not have an account yet please register here</p>
                <button class="sign-in-btn">Check in</button>
            </div>
        </div>
    </div>
    <script src="js/loginPracticaClase.js"></script>
</body>
 

</html>