
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f5f9;
    color: #282d4d;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
.containerPrincipal{
    max-width: 520px;
    margin: auto;
    margin-top: 210px ;
    padding-bottom: 15px;
    margin-bottom: 80px;
    border: 1px solid rgb(224, 224, 224) ;
    border-radius: 18px;

    
    

}
.containerTitulo{
    width: 100%;
    height: auto;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom:1Px solid grey;
}
input{
    margin-left: 30px;
    border-radius: 5px;
    width: 85%;
    height: 30px;
    border: 1px solid grey;
    margin-bottom: 10px;


}
.espacio{
    margin-bottom: 50px;
}
input::placeholder{
    font-family: 'Montserrat', sans-serif;
    text-indent: 15px;
    color: grey;

}
a{
    font-size: 13px;
    text-decoration: none;
    color: #f57a47;

}
.containerForm{
    margin-bottom: 50px;
    border-bottom: grey;
    margin-bottom: 50px;
    border-bottom: 1px solid grey;
}
#olvidado{
    margin-left: 25px;
}
#iniciarSesion{
    margin-right: 95px;
    margin-left: 25px;
}
.botonContinuar{
    background-color: #f57a47;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: .3s;
    margin-left: 150px;
    width: 100px;
    height: 35px;
}
 @media (max-width:600px) {
    .containerFinal{
        display: flex;
        justify-content: space-between;
    }
    .containerPrincipal{
        max-width: 95%;

    }
    .botonContinuar{
        margin-right: 8%;
        width: 200px;
    }  
 }
 @media  (max-width: 405px){
    .containerFinal{
        display: flex;
        
    }

    .botonContinuar{
        margin-right: 5%;
        width: 150px;
        margin-left: 0;
    }
    
}
