
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    color: #282d4d;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 650px;
    margin: auto;
    background-color: #f5d5d5;
    padding: 40px;
    margin-top: 50px;
    border-radius: 20px;
    justify-content: center;
}

label{
    display: flex;
}

h2{
    text-align: center;
    color: #f8abab;
    margin-bottom: 20px;
}

input {
    border-radius: 10px;
    min-width: 300px;
    border: none;
    padding: 5px 10px;
    outline: none;
    margin-bottom: 10px;
}

.subtext{
    margin-bottom: 10px;
    color: rgb(105, 105, 105);
}

.name{
    justify-content: center;
}

.save{
    background-color: #f8abab;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
}